## AUTHOR: SYED MUHAMMAD USMAN GHANI

**SPARKS INTERNSHIP**
**TASK-4 : EXPLORATORY DATA ANALYSIS-GLOBAL TERRORISM**

## DECLARING LIBRARIES

In [1]:
import pandas as pd
import numpy as np

## CREATING DATAFRAME

In [2]:
terrorism_df = pd.read_csv('globalterrorismdb_0718dist.csv',encoding='iso8859-1',low_memory=False)

In [3]:
terrorism_df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [4]:
np.shape(terrorism_df)

(181691, 135)

## MANIPULATING DATA

In [5]:
not_null_cols = terrorism_df.columns[terrorism_df.isna().sum()/len(terrorism_df) == 0]

In [6]:
df = terrorism_df[not_null_cols]

In [7]:
df

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,vicinity,...,gname,individual,weaptype1,weaptype1_txt,property,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
0,197000000001,1970,7,2,0,58,Dominican Republic,2,Central America & Caribbean,0,...,MANO-D,0,13,Unknown,0,PGIS,0,0,0,0
1,197000000002,1970,0,0,0,130,Mexico,1,North America,0,...,23rd of September Communist League,0,13,Unknown,0,PGIS,0,1,1,1
2,197001000001,1970,1,0,0,160,Philippines,5,Southeast Asia,0,...,Unknown,0,13,Unknown,0,PGIS,-9,-9,1,1
3,197001000002,1970,1,0,0,78,Greece,8,Western Europe,0,...,Unknown,0,6,Explosives,1,PGIS,-9,-9,1,1
4,197001000003,1970,1,0,0,101,Japan,4,East Asia,0,...,Unknown,0,8,Incendiary,1,PGIS,-9,-9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,0,182,Somalia,11,Sub-Saharan Africa,0,...,Al-Shabaab,0,5,Firearms,-9,START Primary Collection,0,0,0,0
181687,201712310029,2017,12,31,0,200,Syria,10,Middle East & North Africa,1,...,Muslim extremists,0,6,Explosives,1,START Primary Collection,-9,-9,1,1
181688,201712310030,2017,12,31,0,160,Philippines,5,Southeast Asia,0,...,Bangsamoro Islamic Freedom Movement (BIFM),0,8,Incendiary,1,START Primary Collection,0,0,0,0
181689,201712310031,2017,12,31,0,92,India,6,South Asia,0,...,Unknown,0,6,Explosives,-9,START Primary Collection,-9,-9,0,-9
181690,201712310032,2017,12,31,0,160,Philippines,5,Southeast Asia,0,...,Unknown,0,6,Explosives,0,START Primary Collection,-9,-9,0,-9

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 29 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   extended         181691 non-null  int64
 5   country          181691 non-null  int64
 6   country_txt      181691 non-null  object
 7   region           181691 non-null  int64
 8   region_txt       181691 non-null  object
 9   vicinity         181691 non-null  int64
 10  crit1            181691 non-null  int64
 11  crit2            181691 non-null  int64
 12  crit3            181691 non-null  int64
 13  success          181691 non-null  int64
 14  suicide          181691 non-null  int64
 15  attacktype1      181691 non-null  int64
 16  attacktype1_txt  181691 non-null  object
 17  targtype1        181691 non-null  int64
 18  targtype1_txt    181691 non-null  object
 19  gname            181691 non-null  object
 20  individual       181691 non-null  int64
 21  weaptype1        181691 non-null  int64
 22  weaptype1_txt    181691 non-null  object
 23  property         181691 non-null  int64
 24  dbsource         181691 non-null  object
 25  INT_LOG          181691 non-null  int64
 26  INT_IDEO         181691 non-null  int64
 27  INT_MISC         181691 non-null  int64
 28  INT_ANY          181691 non-null  int64
dtypes: int64(22), object(7)
memory usage: 40.2+ MB

In [9]:
np.shape(df)

(181691, 29)

In [10]:
terrorism = df[(df['weaptype1_txt'] != 'Unknown')  &(df['region_txt'] != 'Unknown')
                & (df['country_txt'] != 'Unknown') &(df['dbsource'] != 'Unknown')
                &(df['property'] != 'Unknown') &(df['attacktype1_txt'] != 'Unknown')
                &(df['targtype1_txt'] != 'Unknown')]

In [11]:
terrorism

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,vicinity,...,gname,individual,weaptype1,weaptype1_txt,property,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
3,197001000002,1970,1,0,0,78,Greece,8,Western Europe,0,...,Unknown,0,6,Explosives,1,PGIS,-9,-9,1,1
4,197001000003,1970,1,0,0,101,Japan,4,East Asia,0,...,Unknown,0,8,Incendiary,1,PGIS,-9,-9,1,1
5,197001010002,1970,1,1,0,217,United States,1,North America,0,...,Black Nationalists,0,5,Firearms,1,Hewitt Project,-9,-9,0,-9
6,197001020001,1970,1,2,0,218,Uruguay,3,South America,0,...,Tupamaros (Uruguay),0,5,Firearms,0,PGIS,0,0,0,0
7,197001020002,1970,1,2,0,217,United States,1,North America,0,...,Unknown,0,6,Explosives,1,Hewitt Project,-9,-9,0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181685,201712310020,2017,12,31,0,4,Afghanistan,6,South Asia,0,...,Unknown,0,6,Explosives,1,START Primary Collection,-9,-9,0,-9
181686,201712310022,2017,12,31,0,182,Somalia,11,Sub-Saharan Africa,0,...,Al-Shabaab,0,5,Firearms,-9,START Primary Collection,0,0,0,0
181687,201712310029,2017,12,31,0,200,Syria,10,Middle East & North Africa,1,...,Muslim extremists,0,6,Explosives,1,START Primary Collection,-9,-9,1,1
181688,201712310030,2017,12,31,0,160,Philippines,5,Southeast Asia,0,...,Bangsamoro Islamic Freedom Movement (BIFM),0,8,Incendiary,1,START Primary Collection,0,0,0,0
181689,201712310031,2017,12,31,0,92,India,6,South Asia,0,...,Unknown,0,6,Explosives,-9,START Primary Collection,-9,-9,0,-9

In [12]:
terrorism.drop(['eventid','country','region','weaptype1','targtype1',
                'attacktype1','INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY'],axis=1,inplace=True)

c:\users\computer\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
terrorism.rename({'iyear':'year','imonth':'month',
                  'iday':'day','country_txt':'country',
                 'region_txt':'region', 'weaptype1_txt':'weapon type',
                 'targtype1_txt':'target', 'attacktype1_txt':'attack type',
                 'gname':'group name'},axis=1,inplace=True)

c:\users\computer\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

# SAVING DATAFRAME

In [14]:
terrorism.to_csv(r'globalterrorism.csv', index = False)